*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0rem;
}

a {
    text-decoration: none;
}

.body{
    display: flex;
 }

html {
   font-size: 62.5%;
 }

 main {        
    padding: 0;
 }
 
h1{
    font-family: $fontt;
    color: $gris;
    font-size: 3.8em;
    padding: 10px;
    margin-top: 10px;  
    text-align: center;
    font-weight: bold;
    width: 100%;    
    }

h2{
    font-family: $fontt;    
    font-size: 3.4em;    
    padding: 10px;           
    text-align: center; 
    width: 100%;   
    color: $gris;
    }

h3{
    font-family: $fontt;
    color: $gris;
    font-size: 2.8em; 
    padding: 7px;
    margin-bottom: 10px;
    text-align: center;    
    }

h4{
    font-family: $fontp;
    color: $grisclaro;
    padding: 7px;
    margin: 7px;
    font-size: 1.8em;
    align-items: center;
    }