#social{   
    margin: 10px;   
    background-color: #646464;   
    justify-content: center;  
    height: 30vh;    
    width: 100%;
    h4{
        text-align: center;
        font-size: 2.2em;
        margin-top: 5px;
        color: #fff;
    }
}

.pie{
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 7px;        
    flex-wrap: wrap;  
    font-size: 1.5em;
    color: #fff; 
    margin: 5px;  
    }

#correo{
    color: #fff;        
    text-decoration: none;
    text-align: center;        
    font-size: 1.6em;      
    padding: 5px; 
    }

#correo:hover{
    color: #1c1c1c;
    }

.pie__redes{     
    text-align: center;   
    margin: 5px;
    }

.pie__redes__mapa{   
    text-decoration: none;
    color: #fff;    
    padding: 7px;     
    font-size: 1.5em; 
    border: 1px solid #fff;   
    border-radius: 10%;   
   }

.pie__redes__mapa:hover{    
    color: #1c1c1c;    
    border: 1px solid #1c1c1c;         
    }

.pie__redes__links{   
    text-decoration: none;
    padding: 10px;           
    }

.pie__redes__links:hover{    
    color: #1c1c1c;           
    opacity: 0.5;
    }

 @media only screen and (max-width: 1024px){
    #social{
        margin: 5px;     
        height: auto;  
        h4{     
         font-size: 2.2em;        
        }
    }

    .pie{
        font-size: 1.5em;      
        margin: 5px;  
        }

    .correo{          
        font-size: 1.5em; 
        margin: 5px;      
        }

    .pie__redes{     
        margin-top: 5px;   
        }          
}

@media only screen and (max-width: 768px){

    #social{
        margin: 5px;       
        h4{        
        font-size: 2em;
        margin-top: 5px;
    }
    }

    .pie{
        font-size: 1.5em;      
        }

    #correo{          
        font-size: 1.5em;     
        }
    }
@media only screen and (max-width: 576px){
            
        #social{
            margin: 5px;     
            height: auto;  
            h4{        
                font-size: 1.8em;
                margin-top: 5px;
            }
        }
        
        .pie{
            font-size: 1.2em;      
            }
        
        #correo{          
            font-size: 1.4em;     
            }
        
        .pie__redes__mapa{        
            padding: 5px;     
            font-size: 1.4em; 
            border: 1px solid #fff;   
            border-radius: 10%;   
            margin: 5px;      
        }
        .pie__redes__links img{   
            max-width: 30px;
        } 
    }    