header{
   height: auto; 
}

main{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0;
}

/*Estilos menú*/

header .navegacion{       
   padding: 1.8rem;
   background-color: #fff;
   width: 100%;
}

.navegacion ul li{
   margin: 10px;  
   justify-content: right;   
   color: #1c1c1c;
}

.navegacion ul li a {
   color: #1c1c1c;
   font-size: 2em;   
   text-align: center;
   border-radius: 15px;
   font-family: 'Lato', sans-serif;     
}
 
.navegacion ul li a:hover {
   color: #1c1c1c;
   font-weight: bold;   
 }

.dropdown-item{
   color: #1c1c1c;   
   }

.dropdown-item:hover{
   color: #1c1c1c;
   font-weight: bold;     
   background-color: transparent;   
}
 
#yamas{
   color: #1c1c1c;   
}

#capa{
   color: #1c1c1c;   
}

#contacto{
   color: #1c1c1c;   
}

#servicios{
   color: #1c1c1c;   
   padding: 5px;
}

#servicios:hover{
   color: #1c1c1c;
   font-weight: bold;   
   padding: 5px;
}

.navegacion div{
   width: 100%;
   img a {
      width: 200px;
   }
}