/*colores*/

$coral: #f69977;
$gris: #1c1c1c;
$grisclaro: #565658;
$red: #ff1a0a;
$fontt: 'Aleo', serif;
$fontp: 'Lato', sans-serif;

.bannerhome3__texto{
    @extend .bannerhome__texto;
    font-style: italic;
    font-size: 1.6em;
    }