#seccionyamas{
    background-color: $coral;
    height: auto;  
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 30px;   
    margin-bottom: 10px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; 
   }

#seccion6{
    width: 100%;
    justify-content: center;
    padding: 10px;
    margin: 20px;
}

.bannerhomeyamas{
    display: flex;   
    flex-wrap: wrap;     
    justify-content: center;
    align-items: center;  
    padding: 10px;   
    text-align: justify;     
   h1{
    font-family: $fontt;
    color: $gris;
    font-size: 3.6em;
    padding: 10px;
    margin-top: 10px;  
    text-align: center;
    font-weight: bold;
    width: 90%;      
    h2{
     color: $gris;
     font-family: $fontt;   
     font-size: 3em;
     padding: 10px;
     text-align: center;
     width: 80%;       
    }
   }
}
        
.bannerhomeyamas__texto{
    font-size: 2em;
    color: $gris;
    text-align: center;  
    font-family: $fontp;
    justify-content: center;
    padding: 10px; 
    margin: 10px;       
    }

.bannerhomeyamas__texto__button{           
    font-size: 1.8em;    
    padding: 15px;
    margin: 10px;
    color: #fff;   
    border-radius: 15px;
    text-align: center;
    font-family: $fontp;
    background-color: $coral;
    width: 80%;
    }

.bannerhomeyamas__texto__button:hover{
    color: $gris;    
    font-weight: bold;
    border: 1px solid $gris;
    }

.bannerhomeyamas__texto__titulo{
    font-size: 3.2em;
    width: 50%;
    text-align: center;
    margin-top: 55px;
    color: #fff;     
    font-family: $fontp;    
    p{
      color: #fff;
      font-style: italic;
      text-align: center;
      font-size: 2.2em;
        }
    }

.foto2{
    margin: 10px;       
    justify-content: center;
    width: auto; 
    align-items: center;       
    }

.textofrases{
    font-family: $fontt;
    color: #fff;
    font-size: 2.6em; 
    padding: 40px 180px;
    margin: 10px;   
    text-align: center;    
    font-style: italic;    
    background-color: $coral;
    border-radius: 15px;
    }

@media only screen and (max-width: 1024px){

    #seccionyamas{       
        height: auto; 
       }
    
    .bannerhomeyamas{
        width: auto;    
        h1{        
        font-size: 3.4em;       
        h2{        
            font-size: 2.8em;
            padding: 10px;
            width: 80%;       
          }
        }
      }
            
    .bannerhomeyamas__texto{
        font-size: 2em;       
        padding: 10px; 
        margin: 10px;       
        }
    
    .bannerhomeyamas__texto__button{           
        font-size: 1.8em;    
        padding: 15px;
        margin: 10px;       
        width: 80%;
        }    
    
    .bannerhomeyamas__texto__titulo{
        font-size: 3em;
        width: 50%;       
        margin-top: 55px;         
        p{        
         font-size: 2em;
        }
      }
    
    .foto2{
        margin: 10px;     
        width: auto;              
        }    

    #principal {
        font-size: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat (3, 40rem);
        justify-content: center;
    .cards{
        text-align: center;      
        justify-content: center;              
        } 
     }

    .bannerhome3__texto{
        font-size: 1.7em;          
     }

    #testimonios{
        margin-top: 10px;
        margin-bottom: 10px;                     
        }
    }

@media only screen and (max-width: 768px){
           
    .bannerhome3{
        padding: 5px;    
        margin: auto;
        width: auto;
    }

    .bannerhome3__texto{
        font-size: 1.6em;       
        }
    }
   
  @media only screen and (max-width: 576px){
   
    #seccion6{     
        margin: 10px;
        width: auto;
        }
        
    .bannerhomeyamas{    
        width: auto;       
     h1{       
        font-size: 2.8em;
        padding: 10px;              
     h2{
        font-size: 2.8em;
        padding: 10px;   
       }
     }
   }
            
    .bannerhomeyamas__texto{
        font-size: 1.8em;  
        text-align: justify;        
        justify-content: center;
        padding: 10px;
        margin: 10px;    
        }

    .bannerhomeyamas__texto__button{    
        width: 100%;
        }

    .bannerhomeyamas__texto__titulo{
        font-size: 2em;   
        }
        
    .fotoyamas{
        margin: auto;       
        max-width: 400px;   
        }

    .textofrases{
        font-size: 2.4em; 
        padding: 15px;
        margin: 5px; 
        }
    }
        